<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    <script src="https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({startOnLoad:true});
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'))
    </script>
  </body>

</html>